{% load static %}
<html>
<head>
<title>Laundry at Ease</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
 <script LANGUAGE="Javascript" >
function validate(){
	var x=document.forms["f1"]["t1"].value;
	var y=document.forms["f1"]["t2"].value;
	var z=document.forms["f1"]["t3"].value;
	if(x == null || x==""){
		window.alert("Laundry id must be enter");
		document.f1.t1.focus();
		return false;
	}
	if(y == null || y==""){
		window.alert("Delivery description must be enter");
		document.f1.t1.focus();
		return false;
	}
	if(z == null || z==""){
		window.alert("Amount must be enter");
		document.f1.t3.focus();
		return false;
	}
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow"><font size="4" color="black">Laundry at Ease</font></center></font>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
		<li><a href="{% url 'ViewCustomers' %}"><font size="3" color="black">View Customer Details</font></a></font></li>
		<li><a href="{% url 'ViewOrderStatus' %}"><font size="3" color="black">View Order Status</font></a></font></li>
		  <li><a href="{% url 'index' %}"><font size="3" color="black">Logout</font></a></font></li>		
		</center></ul>
<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
<form name="f1" method="post" action={% url 'WriteDescriptionAction' %} OnSubmit="return validate()">
	{% csrf_token %}<br/>
   <h3><b>Delivery Description Screen</b></h3>
   
	<font size="" color="black"><center>{{ data }}</center></font>
						
						<table align="center" width="80" >
			 {{ data1|safe }}
         
		  
		<tr><td><font size="" color="black">Description&nbsp;&nbsp;</b></td><td><input type="text" name="t2" style="font-family: Comic Sans MS" size="60"/></td></tr>

		<tr><td><font size="" color="black">Amount&nbsp;&nbsp;</b></td><td><input type="text" name="t3" style="font-family: Comic Sans MS" size="15"/></td></tr>
		 
			<tr><td></td><td><input type="submit" value="Submit">
			</td>
			</table>
			<br/><br/><br/><br/>
				</div>	
					
				</div>
				
	</body>
</html>